/***************\
    BODY
\***************/
body {
    margin: 0;
    font-family: Helvetica;
}

/***************\
    REGLES D'ECRITURE
\***************/
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.justify {
    text-align: justify;
    width: 90%;
    margin:auto;
}
.majuscule {
    text-transform: uppercase;
}
.minuscule {
    text-transform: lowercase;
}
p {
    margin-bottom: 20px;
}

/***************\
    COULEURS
\***************/
.red {
    color: #fa2b0a;
}
.greyf5 {
    color: #f5f5f5;
}

/***************\
    IMAGES
\***************/
img {
    max-width: 100%;
    height: auto;
}

/***************\
    LIENS
\***************/
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    
}

a:visited {
    text-decoration: none;
    color: inherit;
}

/***************\
    BARRE NAVIGATION
\***************/
.barre-nav {
    height: 50px;
    background-color: #f5f5f5;
}
.barre-nav ul {
    padding: 0;
    margin: 0;
}
.barre-nav ul li {
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #f5f5f5;
    font-size: .9em;
    text-transform:uppercase;
    line-height: 3.5;
    border-bottom: 1px solid #fff;
}
.barre-nav ul li:hover {
    color: #fa2b0a;
}

@media screen and (min-width: 600px) {
    .barre-nav ul li {
        float: left;
        display: inline-block;
        padding: 18px 15px 10px 16px;
        border-bottom: 6px solid #f5f5f5;
        width: inherit;
        height: inherit;
        line-height: inherit;
    }
    .barre-nav ul li:hover {
        border-bottom: 6px solid #fa2b0a;
        color: #fa2b0a;
    }
}
@media screen and (min-width: 800px) {
    .barre-nav ul li:first-child {
        margin-left: 20px;
    }
}

/***************\
    TITRES
\***************/
h1 {
    color: black;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 30px;
}

h2 {
    color: black;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 26px;
}

h3 {
    color: black;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 24px;
}

h4 {
    color: black;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 22px;
}

h5 {
    color: black;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 20px;
}

h6 {
    color: black;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 18px;
}

h1>small {
    color: #ddd;
    font-size: 24px;
}
h2>small {
    color: #ddd;
    font-size: 22px;
}
h3>small {
    color: #ddd;
    font-size: 20px;
}
h4>small {
    color: #ddd;
    font-size: 18px;
}
h5>small {
    color: #ddd;
    font-size: 16px;
}
h6>small {
    color: #ddd;
    font-size: 14px;
}

/***************\
    GRILLE
\***************/
.grid-container {
    width: 100%;
    margin-top: 10px;

}
.row {
    margin-top: 1%;
}
.row .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8 {
    display: inline-block;
    margin-left: 1%;
    margin-right: -0.25em;
}
.row>:first-child {
    margin-left: 0;
}
.row:after {
  clear: both;
}

.span-1 {
    width: 11.625%;
}
.span-2 {
    width: 24.25%;
}
.span-3 {
    width: 36.875%;
}
.span-4 {
    width: 49.5%;
}
.span-5 {
    width: 62.125%;
}
.span-6 {
    width: 74.75%;
}
.span-7 {
    width: 87.375%;
}
.span-8 {
    width: 100%;
    margin-left:0;
}
.off-1 {
    margin-left: 12.625% !important;
}
.off-2 {
    margin-left: 25.25% !important;
}
.off-3 {
    margin-left: 37.875% !important;
}
.off-4 {
    margin-left: 50.5% !important;
}
.off-5 {
    margin-left: 63.125% !important;
}
.off-6 {
    margin-left: 75.75% !important;
}
.off-7 {
    margin-left: 88.375% !important;
}

@media screen and (max-width: 600px) {
    .grid-container {
        width: 100%;
        margin: auto;
    }
   .span-1 {
        width: 100%;
    }
    .span-2 {
        width: 100%;
    }
    .span-3 {
        width: 100%;
    }
    .span-4 {
        width: 100%;
    }
    .span-5 {
        width: 100%;
    }
    .span-6 {
        width: 100%;
    }
    .span-7 {
        width: 100%;
    }
    .span-8 {
        width: 100%;
    }
    .row .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8 {
        margin-left: 0px;
    }
    .off-1 {
        margin-left: 2.5% !important;
    }
    .off-2 {
        margin-left: 2.5% !important;
    }
    .off-3 {
        margin-left: 2.5% !important;
    }
    .off-4 {
        margin-left: 2.5% !important;
    }
    .off-5 {
        margin-left: 2.5% !important;
    }
    .off-6 {
        margin-left: 2.5% !important;
    }
    .off-7 {
        margin-left: 2.5% !important;
    }
}
@media screen and (max-width: 400px) {
    .grid-container {
        width: 100%;
    }
}



/***************\
    BOUTONS
\***************/
.btn {
    cursor: pointer;
    vertical-align: middle !important;
    text-align: center;
    border-radius: 0;
    border: 1px transparent solid;
    padding: 2px 10px;
    font-size: 11.9px;
}
.btn:focus {
    outline: none;
}
.btn-small {
    padding: 2px 8px;
    font-size: 9.9px;
}
.btn-big {
    padding: 11px 19px;
    font-size: 17.5px;
}
.btn-red {
    color: #fff;
    background-color: #fa2b0a;
    box-shadow: 1px 0px #cc0000, 0px 1px #cc0000,
              2px 1px #cc0000, 1px 2px #cc0000,
              3px 2px #cc0000, 2px 3px #cc0000,
              4px 3px #cc0000, 3px 4px #cc0000,
              5px 4px #cc0000, 4px 5px #cc0000,
              6px 5px #cc0000, 5px 6px #cc0000;
}
.btn-red:hover {
    transform: translate(2px, 2px);
    box-shadow: 1px 0px #cc0000, 0px 1px #cc0000,
              2px 1px #cc0000, 1px 2px #cc0000,
              3px 2px #cc0000, 2px 3px #cc0000,
              4px 3px #cc0000, 3px 4px #cc0000;
}
.btn-red:focus {
    transform: translate(2px, 2px);
    box-shadow: 1px 0px #cc0000, 0px 1px #cc0000,
              2px 1px #cc0000, 1px 2px #cc0000,
              3px 2px #cc0000, 2px 3px #cc0000,
              4px 3px #cc0000, 3px 4px #cc0000;

}

/***************\
    FORMULAIRES
\***************/
.input {
    border: 1px #d9d9d9 solid;
    height: 34px;
    background-color: #fff;
    padding: 5px;
    font-size: 100%;
    width: 100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.textarea {
    max-width: 100%;
    min-height: 100px;
    vertical-align: top;
}
.input-small {
    height: 24px;
}
.input-big {
    height: 44px;
}
.input:focus {
    outline: 1px solid black;
}
.input-control {
    margin-bottom: 15px;

}
.input-control label {
    text-align: right;
    font-weight: 600;
    
}
@media screen and (max-width: 600px) {
    .input-control label {
        text-align: left;
        margin-left: 2.5%;
    }
    .input {
        width: 95%;
        margin-left: 0;
    }
}

/***************\
    NOTIFICATIONS
\***************/
.alert {
    margin: 0% 5%;
    margin-bottom: 20px;
    text-align: left;
    padding: 15px 10px;
}
.alert-info {
    background-color: #CCE2FF;
    color: #4D8796;
    border-left: 6px solid #4D8796;
}
.alert-danger {
    background-color: #F1D7D7;
    color: #A95252;
    border-left: 6px solid #A95252;
}

/***************\
    TABLEAUX
\***************/
th {
    display: table-cell;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
th {
    font-size: 17px;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid black;
}
table.altere tr:nth-child(2n) {
    background-color: #eee;
}
table.complete {
    border: 1px solid black;
}
table.survol tr:hover {
    background-color: #eee;
}
table.survol-red tr:hover {
    background-color: #FC9584;
}


