body {
}

.categorie {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    height: 150px;
    vertical-align: top;
    margin-bottom: 1%;
    padding: 4px;
}
.titre-categorie {
    color: #fa2b0a;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #fa2b0a;
    margin-bottom: 10px;
}
.categorie img {
    width: 95%;
    max-width: 350px;
    height: 120px;
}
.box-ajouter {
    margin-top: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 150px;
    vertical-align: top;

}
.titre-box-ajouter {
    padding: 5px;
    color: #fa2b0a;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    border-bottom: 1px solid #fa2b0a;
    margin-bottom: 10px;
}
.box-gris {
    margin-top: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    vertical-align: top;
    min-height: 20px;
    padding-bottom: 20px;
    
}
.soustitre-ajouter {
    text-align: left;
    border-left: 6px solid #fa2b0a;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    padding-left: 20px;
    text-transform: uppercase;
}

header {
    height: 80px;
}
header>h1 {
    text-transform: uppercase;
    font-size: 50px;
}
header>h1>small {
    display: none;
}
.btn-ajout {
    margin-top: 40px;
}
.survol-red {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #fa2b0a;
}
.survol-red .oneline:hover {
    background-color: #FC9584;
}
.survol-red .oneline {
    
    width: 100%;
}
.survol-red .oneline:first-child {
    border-top: 1px solid #fa2b0a;
}
.survol-red .oneline .tdannonce {
    padding: 5px 10px 5px 10px !important;
    vertical-align: middle;
}
.detail {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #fa2b0a;
}
.detail .oneline {
    
    width: 100%;
}
.detail .oneline:first-child {
    border-top: 1px solid #fa2b0a;
}
.detail .oneline .tdannonce {
    padding: 5px 10px 5px 10px !important;
    vertical-align: middle;
}
.titre-affiche-categorie {
    background-color: #fa2b0a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px 10px 20px;
    color: #fff;
}
.row-affiche-liste {

}
.annonce-image img {
    max-width: 150px;
    max-height: 150px;
}
.annonce-titre {
    text-align: left;

}
.annonce-titre div {
    font-weight: bold;
    display: block;
}

.annonce-prix {
    font-weight: bold;
}
@media screen and (min-width: 400px) {
    
}
@media screen and (min-width: 600px) {
    h1 {
        margin-left: 20px;
    }
    .soustitre-ajouter {
        text-align: left;
        border-left: 6px solid #fa2b0a;
        margin-left: 0%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 28px;
        padding-left: 20px;
        text-transform: uppercase;
    }
    .row-affiche-liste {
         margin-top:-35px;
    }
}

@media screen and (min-width: 800px) {
    header>h1>small {
        display: inline-block;
    }
    
}